.cart {
	max-width: 821px;
	margin: 0 auto;
	padding: 97px 0 131px;

	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;

		&_left {
			display: flex;
			align-items: center;
			gap: 17px;
		}
	}

	&__title {
		letter-spacing: 0.01em;
		color: #000;
		font-size: 32px;
		font-weight: 700;
		line-height: 39px;
	}

	&__clear {
		display: flex;
		align-items: center;
		cursor: pointer;
		color: #b6b6b6;
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		gap: 7px;

		svg {
			margin-bottom: 3px;
		}
	}

	&__pizzas {
		margin-bottom: 40px;
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		gap: 40px;

		.buttons {
			display: flex;
			justify-content: space-between;

			&__button {
				display: flex;
				align-items: center;
				padding: 17px 31px;
				border-radius: 30px;
				font-size: 16px;
				font-weight: 700;
				line-height: 19px;
				gap: 12px;

				&_gray {
					color: #cacaca;
					border: 1px solid #d3d3d3;
					background-color: #fff;
				}

				&_orange {
					color: #fff;
					background-color: #fe5f1e;
				}
			}
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;
		letter-spacing: 0.01em;
		color: #000;
		font-size: 22px;
		font-weight: 400;
		line-height: 27px;
	}

	&__count {
		span {
			font-weight: 700;
		}
	}

	&__price {
		span {
			color: #fe5f1e;
			font-weight: 700;
		}
	}
}
