.pizza {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 280px;

	&__img {
		width: 260px;
		height: 260px;
		margin-bottom: 11px;
	}

	&__title {
		margin-bottom: 22px;
		text-align: center;
		letter-spacing: 0.01em;
		font-size: 20px;
		font-weight: 800;
		line-height: 24px;
	}

	&__tabs {
		display: flex;
		flex-direction: column;
		max-width: 280px;
		margin-bottom: 17px;
		padding: 7px 5px;
		border-radius: 10px;
		background: #f3f3f3;
		gap: 7px;
	}

	&__box {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 5px;
	}

	&__tab {
		padding: 12px 0;
		cursor: pointer;
		transition: 0.2s ease-in-out;
		text-align: center;
		letter-spacing: 0.015em;
		color: #2c2c2c;
		border-radius: 5px;
		background-color: #f3f3f3;
		font-size: 14px;
		font-weight: 700;
		line-height: 17px;

		&:hover {
			background: #fdfdfd;
		}

		&_active {
			background: #fff;
			box-shadow: 0 2px 4px rgb(0 0 0 / 4%);
		}

		&_disable {
			opacity: 0.2;
		}

		&_width {
			min-width: 131px;
		}

		&_size {
			min-width: 86px;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	&__prise {
		letter-spacing: 0.015em;
		font-size: 22px;
		font-weight: 700;
		line-height: 27px;
	}
}
