{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint/eslint-plugin", "react", "jsx-a11y"],
	"rules": {
		"semi": "off",
		"@typescript-eslint/semi": ["warn"],
		"@typescript-eslint/no-empty-interface": [
			"error",
			{
				"allowSingleExtends": true
			}
		],
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"tabWidth": 2,
				"useTabs": true,
				"semi": true,
				"trailingComma": "all",
				"bracketSpacing": true,
				"printWidth": 100,
				"endOfLine": "auto"
			}
		],
		"react/jsx-no-comment-textnodes": "off",
		"jsx-a11y/anchor-is-valid": "off"
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended",
		"plugin:prettier/recommended"
	]
}
