.pizzaCart {
	border-top: 1px solid #f4f4f4;

	&__body {
		display: flex;
		justify-content: space-between;
		margin: 30px 0;

		.pizza {
			display: flex;
			align-items: center;
			gap: 15px;

			&__img {
				width: 80px;
				height: 80px;
			}

			&__text {
				display: flex;
				flex-direction: column;
				gap: 3px;
			}

			&__title {
				letter-spacing: 0.01em;
				color: #000;
				font-size: 22px;
				font-weight: 700;
				line-height: 27px;
			}

			&__description {
				letter-spacing: 0.01em;
				color: #8d8d8d;
				font-size: 18px;
				font-weight: 400;
				line-height: 22px;
			}

			&__functions {
				display: flex;
				align-items: center;
				gap: 93px;

				.button {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 32px;
					height: 32px;
					cursor: pointer;
					border-radius: 100%;
					background-color: #fff;
				}

				.addButtons {
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 12px;

					&__button {
						border: 2px solid #fe5f1e;
					}
				}

				.price {
					letter-spacing: 0.01em;
					color: #000;
					font-size: 22px;
					font-weight: 700;
					line-height: 27px;
				}

				.clear {
					border: 2px solid #d0d0d0;

					svg {
						fill: #d0d0d0;
						transform: rotate(45deg);
					}
				}
			}
		}
	}
}
