.cartEmpty {
	margin: 0 auto;
	padding: 75px;

	&__title {
		margin-bottom: 10px;
		text-align: center;
		letter-spacing: 0.01em;
		color: #000;
		font-size: 32px;
		font-weight: 700;
		line-height: 39px;
	}

	&__text {
		margin-bottom: 47px;
		text-align: center;
		letter-spacing: 0.01em;
		color: #777;
		font-size: 18px;
		font-weight: 400;
		line-height: 145.4%;
	}

	&__img {
		display: block;
		width: 300px;
		height: 255px;
		margin: 0 auto 74px;
	}

	&__button {
		max-width: 210px;
		max-height: 46px;
		display: block;
		margin: 0 auto;
		padding: 14px 0;
		cursor: pointer;
		text-align: center;
		letter-spacing: 0.015em;
		color: #fff;
		border-radius: 30px;
		background: #282828;
		font-size: 16px;
		font-weight: 700;
		line-height: 19px;
	}
}
