.header {
	display: flex;
	justify-content: space-between;
	padding: 35px 0;

	.logo {
		display: flex;
		gap: 17px;
		flex-grow: 1;

		&__text {
			display: flex;
			flex-direction: column;
		}

		&__title {
			letter-spacing: 0.01em;
			text-transform: uppercase;
			color: #181818;
			font-size: 24px;
			font-weight: 800;
			line-height: 29px;
		}

		&__description {
			color: #7b7b7b;
			font-size: 16px;
			font-weight: 400;
			line-height: 19px;
		}
	}

	.button {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-height: 50px;
		padding: 12px 23px;
		color: #fff;
		border-radius: 30px;
		background: #fe5f1e;
		font-size: 16px;
		font-weight: 700;
		line-height: 19px;
		gap: 13px;
	}

	.line {
		width: 1px;
		height: 25px;
		background: rgb(255 255 255 / 25%);
	}
}

.divider {
	height: 1px;
	background-color: #f7f7f7;
}
