.button {
	background: #ffffff;
	border: 1px solid #eb5a1e;
	border-radius: 30px;
	padding: 9px 14px;
	cursor: pointer;

	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
	color: #eb5a1e;

	display: flex;
	align-items: center;
	gap: 8px;
	transition: 0.2s ease-in-out;

	svg {
		transition: 0.2s ease-in-out;
	}

	&:hover {
		background-color: #fe5f1e;
		color: #fff;
	}

	&__circle {
		width: 22px;
		height: 22px;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #eb5a1e;
		color: #fff;
		font-weight: 700;
		font-size: 13px;
		line-height: 16px;
		transition: 0.2s ease-in-out;

		&_hover {
			background-color: #fff;
			color: #eb5a1e;
		}
	}
}
