@import url('./fonts.scss');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a {
	color: inherit;
}

button {
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	vertical-align: top;
}

input {
	outline: none;
}

html,
body {
	height: 100%;
}

html {
	overflow-x: hidden;
}

body {
	color: #000;
	background-color: #ffdf8c;
	font-family: 'Proxima Nova', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
}

.wrapper {
	margin: 55px 60px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 15px 20px rgb(0 0 0 / 3%);
}

.container {
	padding: 0 55px;
}
