.sort {
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 7px;

	&__arrow {
		width: 0;
		height: 0;
		border-right: 6px solid transparent;
		border-bottom: 8px solid #2c2c2c;
		border-left: 6px solid transparent;

		&_active {
			transform: rotate(180deg);
		}
	}

	&__text {
		flex-shrink: 0;
		letter-spacing: 0.015em;
		font-size: 14px;
		font-weight: 700;
		line-height: 17px;
	}

	&__orange {
		letter-spacing: 0.015em;
		color: #fe5f1e;
		border-bottom: 2px dashed #fe5f1e;
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
	}

	&__modal {
		position: absolute;
		z-index: 10;
		top: 40px;
		right: 0;
		display: flex;
		flex-direction: column;
		padding: 13px 0;
		border-radius: 10px;
		background-color: #fff;
		box-shadow: 0 5px 15px rgb(0 0 0 / 9%);
	}

	&__item {
		padding: 10px 22px 10px 14px;

		&:hover {
			background: rgb(254 95 30 / 5%);
		}

		&_active {
			color: #fe5f1e;
			background: rgb(254 95 30 / 5%);
		}
	}
}
